certifi==2019.6.16
chardet==3.0.4
Django==2.2.4
django-widget-tweaks==1.4.5
fedex==2.4.0
html5lib==1.0.1
idna==2.8
Pillow==6.2.2
PyPDF2==1.26.0
pytz==2019.2
reportlab==3.5.31
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
suds-jurko==0.6
urllib3==1.25.3
webencodings==0.5.1
xhtml2pdf==0.2.3
psycopg2==2.8.6