{% extends 'main/base.html' %}

{% block 'title' %}ShipNow - Displaying Shipments{% endblock %}
{% block 'container' %}
	
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->

    <div class="row page-titles">	
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">View Shipments</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item">Shipments</li>
                <li class="breadcrumb-item active">View</li>
            </ol>
        </div>
        <!-- <div class="col-md-6 col-4 align-self-center">
            <a href="/addaddress/" class="btn pull-right hidden-sm-down btn-success"> Add Address</a>
        </div> -->
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
         
	<!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-block">



<table class="table table-hover">
	<tr class="table-info">
		<th>AWB</th>
		<th>Courier</th>
		<th>Order ID</th>
		<th>Customer</th>
		<th>Weight</th>
		<th>Payment Method</th>
		<th>Created On</th>
		<th>Status</th>

	</tr>
		{% for s in shipments %}
	<tr>
			<td><a href="/displayshipments/{{s.id}}">{{s.awb}}</a></td>
			<td><img src="/cdn/{{s.courier}}.png" width="100px"><br></td>
			<td>{{s.order.id}}</td>
			<td>{{s.order.delivery.name}}</td>
			<td>{{s.order.product.weight}} KG</td>
			<td>{{s.order.payment_mode}}</td>
			<td>{{s.order.datetime}}</td>
			<td>Undefined</td>			
	</tr>
		{% endfor %}
</table>
	        
	    </div>
	</div>
	</div>
	</div>
	<!-- ============================================================== -->
	<!-- End PAge Content -->
	<!-- ============================================================== -->
{% endblock %}