{% extends 'main/base.html' %}
{% load static %}

{% block 'title' %}ShipNow - Displaying Addresses{% endblock %}
{% block 'container' %}
	
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->

    <div class="row page-titles">	
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Manage Address</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item">Address</li>
                <li class="breadcrumb-item active">Manage</li>
            </ol>
        </div>
        <div class="col-md-6 col-4 align-self-center">
            <a href="/addorder/" class="btn pull-right hidden-sm-down btn-success"> Add Order</a>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
         
	<!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-block">



<table class="table table-bordered table-hover">
	<tr class="table-info">
		<th>ID</th>
		<th>Name</th>
		<th>Vendor</th>
		<th>Customer</th>
		<th>Address</th>
		<th>Product</th>
		<th>Payment</th>
		<th>Amount</th>
		<th>Ship</th>
		<th>Delete</th>

	</tr>
		{% for a in orders %}
	<tr>
			<td>{{a.id}}</td>
			<td>{{a.datetime}}</td>
			<td>{{a.pickup.name}}</td>
			<td>{{a.delivery.name}}</td>
			<td>{{a.delivery.address}}, {{a.delivery.city}}, {{a.delivery.state}}, {{a.delivery.pincode}}</td>
			<td>{{a.product.name}}</td>
			<td>{{a.payment_mode}}</td>
			<td>₹ {{a.amount}}</td>
			<td><a href="/createshipment/{{a.id}}" class="btn pull-right hidden-sm-down btn-success"> Ship Now!</a></td>
			<td><a href="/deleteorder/{{a.id}}"> <i class="fa fa-trash-o" title="Delete Order" /></i></a></td>
	</tr>
		{% endfor %}
</table>
	        
	    </div>
	</div>
	</div>
	</div>
	<!-- ============================================================== -->
	<!-- End PAge Content -->
	<!-- ============================================================== -->
	{% endblock %}