	<table border="1" cellpadding="5" cellspacing="0">
		<tr>
			<td width="162" align="center"><img src="view/image/logo.png" height="30px"></td>
			<td width="206" align="center"><img src="{{ manage_lb.delhivery_logo }}" height="30px"></td>
		</tr>
		<tr>
			<td><img src="{{ manage_lb.barcode }}" height="60px"/></td>
			<td>Order#:&nbsp;{{ manage_lb.order_id }}</td>
		</tr>
		<tr>
			<td><strong>Shipping Address :</strong><br>D-12/79, Sector-7, Rohini, New Delhi</td>
			<td align="center"><strong>Pre-Paid</strong></td>
		</tr>
		<tr>
			<td><strong>Seller:</strong>&nbsp; Honest Computers<br>D-12/79, Sector-7, Rohini, New Delhi</td>
			<td>GSTIN: 07AGQP1AZ100R
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<table border="1" width="100%" cellspacing="0" cellpadding="3">
				<tr>
					<td><strong>Product</strong></td>
					<td><strong>Price</strong></td>
					<td><strong>Qty</strong></td>
					<td><strong>Total</strong></td>
				</tr>
				<tr>
					<td>Lenovo ThinkPad T430</td>
					<td>Rs.15974</td>
					<td>1</td>
					<td>Rs.15974</td>
				</tr>
				<tr>
					<td colspan="3" align="right"><strong>Total&nbsp;</strong></td>
					<td>&nbsp;Rs.15974</td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td>Return Address:&nbsp;Honest Computers, D-12/79, Sector-7, Rohini, New Delhi 110085</td>
			<td><img src="{{ manage_lb.barcode }}" height="60px"/></td>
		</tr>
	</table>


<style type = "text/css">
table {
  border-collapse: collapse;
  width:450px;
  
}
table, th, td {
  border: 1px solid black;
}
   <!--
      @media screen {
         table { font-family:verdana, arial, sans-serif; margin:auto; }
      }

      @media print {
          table { font-family:verdana, arial, sans-serif; float:left; }
      }
   -->
</style>